---
import Layout from "../../layouts/Layout.astro";
import { services } from "../../data";
import { buildSeoFrom } from "../../seo";
import ServiceFooter from "../../components/service/ServiceFooter.astro";
import CallToAction from "../../components/CallToAction.astro";
import Faq from "../../components/Faq.astro";
import ProcessTimeline from "../../components/ProcessTimeline.astro";
import SubServiceFeatures from "../../components/service/SubServiceFeatures.astro";
import ServiceAreas from "../../components/service/ServiceAreas.astro";
import ServiceTestimonial from "../../components/service/ServiceTestimonial.astro";
import ServiceHero from "../../components/service/ServiceHero.astro";
import ServiceRelatedPortfolio from "../../components/service/ServiceRelatedPortfolio.astro";

export async function getStaticPaths() {
  return services.map((s) => ({ params: { id: s.id } }));
}

const { id } = Astro.params;
const page = services.find((s) => s.id === id)!;

const {
  name,
  description,
  header,
  subheader,
  galleryImages,
  subServices,
  faqs,
  featuredTestimonial,
  relatedPortfolio,
} = page;

const seo = buildSeoFrom(page);
---

<Layout {...seo}>
  <div class="relative isolate overflow-hidden bg-white py-16">
    <ServiceHero
      eyebrow={name}
      header={header}
      subheader={subheader}
      description={description}
      galleryImages={galleryImages}
    />

    <ServiceTestimonial testimonial={featuredTestimonial} />

    <SubServiceFeatures
      eyebrow={subServices.eyebrow}
      heading={subServices.heading}
      byline={subServices.byline}
      primaryCta={subServices.primaryCta}
      secondaryCta={subServices.secondaryCta}
      services={subServices.services}
    />

    <CallToAction />

    <ServiceRelatedPortfolio relatedPortfolio={relatedPortfolio} />
  </div>

  <ProcessTimeline />

  <Faq faqs={faqs} />
  <ServiceFooter />
</Layout>
