---
type Img = { src: string; alt?: string };

const { images = [] } = Astro.props as { images: Img[] };
---

<div
  class="mx-auto mt-6 max-w-2xl sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-3 lg:gap-8 lg:px-8"
>
  <img
    src={images[0].src}
    src={images[0].alt}
    class="row-span-2 aspect-3/4 size-full rounded-lg object-cover max-lg:hidden"
  />
  <img
    src={images[1].src}
    src={images[1].alt}
    class="col-start-2 aspect-3/2 size-full rounded-lg object-cover max-lg:hidden"
  />
  <img
    src={images[2].src}
    src={images[2].alt}
    class="col-start-2 row-start-2 aspect-3/2 size-full rounded-lg object-cover max-lg:hidden"
  />
  <img
    src={images[3].src}
    src={images[3].alt}
    class="row-span-2 aspect-4/5 size-full object-cover sm:rounded-lg lg:aspect-3/4"
  />
</div>
