---
export interface FAQ {
  question: string;
  answer: string;
}

interface Props {
  id?: string;
  className?: string;
  title?: string;
  description?: string;
  supportHref?: string;
  supportText?: string;
  faqs: FAQ[];
}

const {
  id,
  className,
  title = "Frequently asked questions",
  description = "Can't find the answer you're looking for?",
  supportHref = "#",
  supportText = "customer support",
  faqs = [],
} = Astro.props;
---

<div class:list={["bg-white", className]} id={id}>
  <div class="mx-auto max-w-7xl px-6 py-24 sm:pt-32 lg:px-8 lg:py-40">
    <div class="lg:grid lg:grid-cols-12 lg:gap-8">
      <!-- Left column -->
      <div class="lg:col-span-5">
        <h2
          class="text-3xl font-semibold tracking-tight text-gray-900 sm:text-4xl"
        >
          {title}
        </h2>

        <p class="mt-4 text-base text-gray-600">
          {description}{" "}
          <a
            href={supportHref}
            class="font-semibold text-indigo-600 hover:text-indigo-500"
          >
            {supportText}
          </a>
          .
        </p>
      </div>

      <!-- FAQ list -->
      <div class="mt-10 lg:col-span-7 lg:mt-0">
        <dl class="space-y-10">
          {
            faqs.map((faq) => (
              <div>
                <dt class="text-base font-semibold text-gray-900">
                  {faq.question}
                </dt>
                <dd class="mt-2 text-base text-gray-600">{faq.answer}</dd>
              </div>
            ))
          }
        </dl>
      </div>
    </div>
  </div>
</div>
